<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/XXTExplorer-Archive.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.xxtouch.XXTExplorer</string>
		<key>CFBundleShortVersionString</key>
		<string>2.1.0</string>
		<key>CFBundleVersion</key>
		<string>206</string>
		<key>SigningIdentity</key>
		<string>iPhone Developer: Zheng Wu (253D9QR4TP)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2019-07-27T18:59:33Z</date>
	<key>Name</key>
	<string>XXTExplorer-Archive</string>
	<key>SchemeName</key>
	<string>XXTExplorer-Archive</string>
</dict>
</plist>
