<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACTIVATOR_URL</key>
	<string>cydia://package/libactivator</string>
	<key>ADD1S_PATH</key>
	<string>/private/var/mobile/Media/1ferver/bin/add1s</string>
	<key>ALIYUN_APPKEY</key>
	<string>23559128</string>
	<key>ALIYUN_APPSECRERT</key>
	<string>5f3cadc6a99078eb0ef3b5dccec5fec7</string>
	<key>APP_CONNECTION_TIMEOUT</key>
	<real>10</real>
	<key>AUTH_API</key>
	<string>https://api.xxtouch.com/api/</string>
	<key>AVAILABLE_BUNDLE_READER</key>
	<array>
		<string>XXTExplorerEntryXPPReader</string>
	</array>
	<key>AVAILABLE_VIEWER</key>
	<array>
		<string>XXTEExecutableViewer</string>
		<string>XXTEArchiveViewer</string>
		<string>XXTEImageViewerController</string>
		<string>XXTEMediaPlayerController</string>
		<string>XXTEWebViewerController</string>
		<string>XXTECodeViewerController</string>
		<string>XXTEObjectViewController</string>
		<string>XXTEUIViewController</string>
		<string>XXTEPackageViewerController</string>
		<string>XXTEInstallerViewController</string>
		<string>XXTETerminalViewController</string>
		<string>XXTESnippetViewerController</string>
		<string>XXTELogViewController</string>
	</array>
	<key>CHANNEL_ID</key>
	<string>Cydia™</string>
	<key>DAEMON_ERROR_LOG_PATH</key>
	<string>log/script_error.log</string>
	<key>DAEMON_LOG_PATH</key>
	<string>log/sys.log</string>
	<key>DAEMON_LOG_VIEWER</key>
	<string>XXTELogViewController</string>
	<key>DAEMON_VERSION</key>
	<string>1.2-4</string>
	<key>EXPLORER_HISTORY_PATH</key>
	<string>caches/history</string>
	<key>EXPLORER_INITIAL_PATH</key>
	<string>lua/scripts</string>
	<key>FEVER_PATH</key>
	<string>/private/var/mobile/Media/1ferver/lua/scripts</string>
	<key>INITIAL_RESOURCES</key>
	<array>
		<dict>
			<key>from</key>
			<string>B4FDE60B-30B3-4035-B874-619C896626BE</string>
			<key>to</key>
			<string>snippets</string>
		</dict>
	</array>
	<key>LICENSE_LOG_PATH</key>
	<string>log/bind_code.log</string>
	<key>LOCAL_API</key>
	<string>http://127.0.0.1:46952/</string>
	<key>LOG_PATH</key>
	<string>log</string>
	<key>MAIN_PATH</key>
	<string>/private/var/mobile/Media/1ferver</string>
	<key>PRODUCT_NAME</key>
	<string>XXTouch</string>
	<key>REMOTE_API</key>
	<string>http://%@:46952/</string>
	<key>REQUIRED_SUBDIRECTORIES</key>
	<array>
		<string>caches</string>
		<string>caches/history</string>
		<string>log</string>
		<string>uicfg</string>
		<string>lib</string>
		<string>web</string>
		<string>res</string>
		<string>bin</string>
		<string>lua</string>
		<string>lua/scripts</string>
		<string>snippets</string>
	</array>
	<key>RESPRING_CHECK_PATH</key>
	<string>/private/var/tmp/1ferver_need_respring</string>
	<key>RMCLOUD_API_BUY</key>
	<string>/Open/Insourcing</string>
	<key>RMCLOUD_DEBUG_HOST</key>
	<string>application.mall-software.net</string>
	<key>RMCLOUD_HOST</key>
	<string>auth.mall-software.net</string>
	<key>RMCLOUD_OPENAPI</key>
	<string>/api/OpenAPI</string>
	<key>RMCLOUD_PLATFORM</key>
	<string>2</string>
	<key>RMCLOUD_SCHEME</key>
	<string>http</string>
	<key>RMCLOUD_TOKEN</key>
	<string>3487C956F68D360C</string>
	<key>UPDATE_API</key>
	<string>https://www.xxtouch.com/check-update?p=%@</string>
	<key>UPDATE_PRODUCT</key>
	<string>xxtouch</string>
	<key>XXTOUCH_APP_PATH</key>
	<string>/Applications/XXTExplorer.app</string>
	<key>XXTOUCH_BUY_URL</key>
	<string>https://www.xxtouch.com/buy/</string>
	<key>TRUSTED_HOSTS</key>
	<array>
		<string>www.xxtouch.com</string>
		<string>www.mall-software.com</string>
		<string>82flex.com</string>
	</array>
</dict>
</plist>
