<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVAILABLE_BUNDLE_READER</key>
	<array>
		<string>XXTExplorerEntryXPPReader</string>
	</array>
	<key>AVAILABLE_VIEWER</key>
	<array>
		<string>XXTEArchiveViewer</string>
		<string>XXTEImageViewerController</string>
		<string>XXTEMediaPlayerController</string>
		<string>XXTEWebViewerController</string>
		<string>XXTECodeViewerController</string>
		<string>XXTEObjectViewController</string>
		<string>XXTEUIViewController</string>
		<string>XXTEInstallerViewController</string>
		<string>XXTETerminalViewController</string>
		<string>XXTESnippetViewerController</string>
		<string>XXTELogViewController</string>
	</array>
	<key>DAEMON_VERSION</key>
	<string>1.2-4</string>
	<key>EXPLORER_HISTORY_PATH</key>
	<string>caches/history</string>
	<key>EXPLORER_INITIAL_PATH</key>
	<string>home</string>
	<key>INITIAL_RESOURCES</key>
	<array>
		<dict>
			<key>from</key>
			<string>50BDCBCF-BF33-455E-9EE1-64E0FBBE0380</string>
			<key>to</key>
			<string>home</string>
		</dict>
		<dict>
			<key>from</key>
			<string>493711B6-F9C0-4508-A505-F63386F09191</string>
			<key>to</key>
			<string>snippets</string>
		</dict>
	</array>
	<key>PRODUCT_NAME</key>
	<string>X.X.T.E.</string>
	<key>REQUIRED_SUBDIRECTORIES</key>
	<array>
		<string>caches</string>
		<string>caches/history</string>
		<string>log</string>
		<string>uicfg</string>
		<string>res</string>
		<string>home</string>
		<string>snippets</string>
		<string>lib</string>
	</array>
</dict>
</plist>
