<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>theme</key>
	<dict>
		<key>tintColor</key>
		<string>#3498db</string>
		<key>navigationBarColor</key>
		<string>#3498db</string>
		<key>selectedColor</key>
		<string>#3498db18</string>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>Link</string>
			<key>label</key>
			<string>User&apos;s Guide</string>
			<key>url</key>
			<string>https://www.xxtouch.com/docs/manual</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>Link</string>
			<key>label</key>
			<string>Update Logs</string>
			<key>url</key>
			<string>https://www.xxtouch.com/docs/updates</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>Link</string>
			<key>label</key>
			<string>Developer Reference</string>
			<key>url</key>
			<string>https://www.xxtouch.com/docs/dev</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>Link</string>
			<key>label</key>
			<string>Open API Reference</string>
			<key>url</key>
			<string>https://www.xxtouch.com/docs/openapi</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>Link</string>
			<key>label</key>
			<string>Code Snippet Reference</string>
			<key>url</key>
			<string>https://www.xxtouch.com/docs/codesnippet</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>Link</string>
			<key>label</key>
			<string>XXTouch UI (XUI) Reference</string>
			<key>url</key>
			<string>https://www.xxtouch.com/docs/xui</string>
		</dict>
	</array>
	<key>stringsTable</key>
	<string>Documents</string>
	<key>title</key>
	<string>Online Documents</string>
</dict>
</plist>
