<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lua</key>
	<dict>
		<key>identifier</key>
		<string>source.lua</string>
		<key>name</key>
		<string>Lua (*.lua)</string>
		<key>line-comment</key>
		<string>--</string>
	</dict>
	<key>json</key>
	<dict>
		<key>identifier</key>
		<string>source.json</string>
		<key>name</key>
		<string>JSON (*.json)</string>
	</dict>
</dict>
</plist>
