<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Mac Classic</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Amy</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Blackboard</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cobalt</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dawn</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Eiffel</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>IDLE</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sunburst</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Twilight</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Monokai</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Solarized (Dark)</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Solarized (Light)</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ciapre</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oceanic</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kimbie (Dark)</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kimbie (Light)</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nothing</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>A</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>OneHalf (Dark)</string>
		<key>preview</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>OneHalf (Light)</string>
		<key>preview</key>
		<string></string>
	</dict>
</array>
</plist>
