<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XXTExplorerViewInitialPath</key>
	<string>lua/scripts</string>
	<key>XXTExplorerViewSectionHomeSeriesKey</key>
	<array>
		<dict>
			<key>XXTExplorerViewSectionHomeSeriesDetailTitleKey</key>
			<string>Home Directory</string>
			<key>XXTExplorerViewSectionHomeSeriesDetailSubtitleKey</key>
			<string>XXTouch Runtime Home Directory</string>
			<key>XXTExplorerViewSectionHomeSeriesDetailIconKey</key>
			<string>XXTExplorerViewSectionHomeSeriesHomeIcon</string>
			<key>XXTExplorerViewSectionHomeSeriesDetailPathKey</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
