if not xui.get then
	xui.get = function (defaults, key)
		local t = plist.read('/private/var/mobile/Media/1ferver/uicfg/'..defaults..'.plist') or {}
		return t[key]
	end
end

return {
	name = '选择多个应用',
	arguments = {
		{
			type = 'apps',
			default = (function()
				return xui.get('com.yourcompany.A-Script-Bundle', 'appspicker')
			end)(),
		},
	},
	generator = function(bids)
		return bids
	end,
}

