
return {
	name = '位置',
	arguments = {
		{
			type = 'loc',
			subtitle = '选择一个位置',
			default = (function()
				return xui.get('com.yourcompany.A-Script-Bundle', 'locationpicker')
			end)(),
		},
	},
	generator = function(loc)
		return loc
	end,
}