<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuglyAppIDString</key>
	<string>abe3aa1f98</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>X.X.T.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Owned Type</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ch.xxtou.lua</string>
				<string>ch.xxtou.luac</string>
				<string>ch.xxtou.xxt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>All documents</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.item</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.darwindev.xxtouch</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>xxt</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>202308061528+debug</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechrome</string>
		<string>cydia</string>
		<string>xxt</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>${PRODUCT_NAME} want to access your camera to scan QR code.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>${PRODUCT_NAME} want to access your album to save license record.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>${PRODUCT_NAME} want to access your album to extract QR code or import images.</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.$(PRODUCT_BUNDLE_IDENTIFIER)</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>X.X.T.</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>One</string>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>fontello.ttf</string>
		<string>References.bundle/fonts/SourceCodePro-Regular.otf</string>
		<string>References.bundle/fonts/SourceCodePro-Bold.otf</string>
		<string>References.bundle/fonts/SourceCodePro-It.otf</string>
		<string>References.bundle/fonts/SourceCodePro-BoldIt.otf</string>
		<string>References.bundle/fonts/CamingoCode-Regular.ttf</string>
		<string>References.bundle/fonts/CamingoCode-Bold.ttf</string>
		<string>References.bundle/fonts/CamingoCode-Italic.ttf</string>
		<string>References.bundle/fonts/CamingoCode-BoldItalic.ttf</string>
		<string>References.bundle/fonts/Anonymous_Pro_B.ttf</string>
		<string>References.bundle/fonts/Anonymous_Pro_BI.ttf</string>
		<string>References.bundle/fonts/Anonymous_Pro_I.ttf</string>
		<string>References.bundle/fonts/Anonymous_Pro.ttf</string>
		<string>References.bundle/fonts/DejaVuSansMono-Bold.ttf</string>
		<string>References.bundle/fonts/DejaVuSansMono-BoldOblique.ttf</string>
		<string>References.bundle/fonts/DejaVuSansMono-Oblique.ttf</string>
		<string>References.bundle/fonts/DejaVuSansMono.ttf</string>
		<string>References.bundle/fonts/Hack-Regular.ttf</string>
		<string>References.bundle/fonts/Hack-Bold.ttf</string>
		<string>References.bundle/fonts/Hack-Italic.ttf</string>
		<string>References.bundle/fonts/Hack-BoldItalic.ttf</string>
		<string>References.bundle/fonts/Monego.otf</string>
		<string>References.bundle/fonts/Monego-Bold.otf</string>
		<string>References.bundle/fonts/Monego-Italic.otf</string>
		<string>References.bundle/fonts/Monego-BoldItalic.otf</string>
		<string>References.bundle/fonts/Powerline Consolas.ttf</string>
		<string>References.bundle/fonts/Powerline Consolas Bold.ttf</string>
		<string>References.bundle/fonts/Powerline Consolas Italic.ttf</string>
		<string>References.bundle/fonts/Powerline Consolas Bold Italic.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarHidden~ipad</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>ch.xxtou.xxt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xxt</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-xxt</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>ch.xxtou.lua</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lua</string>
				</array>
				<key>public.mime-type</key>
				<string>text/lua</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>ch.xxtou.luac</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>luac</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-luac</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>ch.xxtou.deb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>deb</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-deb</string>
			</dict>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSPinnedDomains</key>
		<dict>
			<key>xxtou.ch</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>JPiXHE+eyyVMoZZ+03Su5wmW24Ru4yC0hqds+ZvgOKk=</string>
					</dict>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>cAFsvShLJSYmAZ6cdueE27GMiqUQEBmAuz7POmG7IQ0=</string>
					</dict>
				</array>
			</dict>
			<key>api.xxtou.ch</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>JPiXHE+eyyVMoZZ+03Su5wmW24Ru4yC0hqds+ZvgOKk=</string>
					</dict>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>cAFsvShLJSYmAZ6cdueE27GMiqUQEBmAuz7POmG7IQ0=</string>
					</dict>
				</array>
				<key>NSPinnedLeafIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>F92mRkEEPMPhpgkImUoCEJoJFGID5aZc0lejWA1AqGc=</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
