local group, name

group = '清理'
name = 'clear.app_data(bid)'

return {
	name = string.format('%s - %s', group, name),
	arguments = {
		{type = '@app@'},
	},
	generator = function(bid)
		return string.format('clear.app_data(%q)', bid)
	end,
}