local group, name

group = '模拟'
name = 'key.down(key)'

return {
	name = string.format('%s - %s', group, name),
	arguments = {
		{type = '@key@'},
	},
	generator = function(key)
		return string.format('key.down(%q)', key)
	end,
}