local group, name

group = '图色'
name = 'screen.is_colors(poscolors, 90)'

return {
	name = string.format('%s - %s', group, name),
	arguments = {
		{type = '@poscolors@'},
	},
	generator = function(poscolors)
		local pcs = {}
		for i, pc in ipairs(poscolors) do
			pcs[#pcs + 1] = string.format('\t{ %4d, %4d, 0x%08x}, -- %3d\n', pc[1], pc[2], pc[3] & 0x00ffffff, i)
		end
		return string.format([[
screen.is_colors({
%s}, 90)]], table.concat(pcs))
	end,
}