local group, name

group = '辅助'
name = 'sys.input_text("")'

return {
	name = string.format('%s - %s', group, name),
	arguments = {
	},
	generator = function()
		return string.format('sys.input_text("@@")')
	end,
}