{
	BundleIdentifier = "com.yourcompany.yourscript";
	BundleVersion = "1.3.0";
	BundleName = SolveRR;
	BundleDisplayName = "RedGame Helper";
	BundleIconFile = appicon;
	Executable = main;
	"BundleInfoDictionaryVersion" = "6.0";
	MainInterfaceFile = interface;
	MinimumSystemVersion = "8.0";
	MaximumSystemVersion = "10.2";
	MinimumXXTVersion = "1.1.2";
	SupportedResolutions = (
		{
			width = 640;
			height = 1136;
		},
		{
			width = 640;
			height = 960;
		},
		{
			width = 768;
			height = 1024;
		},
		{
			width = 1536;
			height = 2048;
		},
	);
	SupportedDeviceTypes = ();
	PackageControl = {
		AuthorName = "i_82";
		AuthorEmail = "i.82@me.com";
		Description = "This is the english version description of this package.";
		Homepage = "https://82flex.com";
	};
}