
return {
	name = '应用包名',
	arguments = {
		{
			type = 'app',
			default = (function()
				return xui.get('com.yourcompany.A-Script-Bundle', 'apppicker')
			end)(),
		},
	},
	generator = function(bid)
		return bid
	end,
}