
return {
	name = '应用包名',
	arguments = {
		{
			type = 'app',
			default = (function()
				local t = plist.read('/private/var/mobile/Media/1ferver/uicfg/com.yourcompany.A-Script-Bundle.plist') or {}
				return t.apppicker
			end)(),
		},
	},
	generator = function(bid)
		return bid
	end,
}