if not xui.get then
	xui.get = function (defaults, key)
		local t = plist.read('/private/var/mobile/Media/1ferver/uicfg/'..defaults..'.plist') or {}
		return t[key]
	end
end



return {
	name = '应用包名',
	arguments = {
		{
			type = 'app',
			default = (function()
				return xui.get('com.yourcompany.A-Script-Bundle', 'apppicker')
			end)(),
		},
	},
	generator = function(bid)
		return bid
	end,
}

