if not xui.get then
	xui.get = function (defaults, key)
		local t = plist.read('/private/var/mobile/Media/1ferver/uicfg/'..defaults..'.plist') or {}
		return t[key]
	end
end

return {
	name = "测试片段",
	arguments = {
		{
			type = "key",
			subtitle = "选择一个按键",
			default = (function()
				return xui.get('com.yourcompany.A-Script-Bundle', 'keypicker')
			end)(),
		},
	},
	generator = function(key)
		return key
	end,
}

