
return {
	name = "测试片段",
	arguments = {
		{
			type = "key",
			subtitle = "选择一个按键",
			default = (function()
				return xui.get('com.yourcompany.A-Script-Bundle', 'keypicker')
			end)(),
		},
	},
	generator = function(key)
		return key
	end,
}
