<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>family</key>
		<string>Courier</string>
		<key>location</key>
		<string></string>
		<key>fonts</key>
		<array>
			<string>Courier</string>
			<string>Courier-Bold</string>
			<string>Courier-Oblique</string>
			<string>Courier-BoldOblique</string>
		</array>
	</dict>
	<dict>
		<key>family</key>
		<string>Courier New</string>
		<key>location</key>
		<string></string>
		<key>fonts</key>
		<array>
			<string>CourierNewPSMT</string>
			<string>CourierNewPS-BoldMT</string>
			<string>CourierNewPS-ItalicMT</string>
			<string>CourierNewPS-BoldItalicMT</string>
		</array>
	</dict>
	<dict>
		<key>family</key>
		<string>Menlo</string>
		<key>location</key>
		<string></string>
		<key>fonts</key>
		<array>
			<string>Menlo-Regular</string>
			<string>Menlo-Bold</string>
			<string>Menlo-Italic</string>
			<string>Menlo-BoldItalic</string>
		</array>
	</dict>
	<dict>
		<key>family</key>
		<string>Source Code Pro</string>
		<key>location</key>
		<string></string>
		<key>fonts</key>
		<array>
			<string>SourceCodePro-Regular</string>
			<string>SourceCodePro-Bold</string>
			<string>SourceCodePro-It</string>
			<string>SourceCodePro-BoldIt</string>
		</array>
	</dict>
	<dict>
		<key>family</key>
		<string>CamingoCode</string>
		<key>location</key>
		<string></string>
		<key>fonts</key>
		<array>
			<string>CamingoCode-Regular</string>
			<string>CamingoCode-Bold</string>
			<string>CamingoCode-Italic</string>
			<string>CamingoCode-BoldItalic</string>
		</array>
	</dict>
	<dict>
		<key>family</key>
		<string>Consolas</string>
		<key>location</key>
		<string></string>
		<key>fonts</key>
		<array>
			<string>Powerline-Consolas</string>
			<string>Powerline-Consolas-Bold</string>
			<string>Powerline-Consolas-Italic</string>
			<string>Powerline-Consolas-BoldItalic</string>
		</array>
	</dict>
	<dict>
		<key>family</key>
		<string>Monego</string>
		<key>location</key>
		<string></string>
		<key>fonts</key>
		<array>
			<string>Monego-Regular</string>
			<string>Monego-Bold</string>
			<string>Monego-Italic</string>
			<string>Monego-BoldItalic</string>
		</array>
	</dict>
	<dict>
		<key>family</key>
		<string>Anonymous Pro</string>
		<key>location</key>
		<string></string>
		<key>fonts</key>
		<array>
			<string>AnonymousPro</string>
			<string>AnonymousPro-Bold</string>
			<string>AnonymousPro-Italic</string>
			<string>AnonymousPro-BoldItalic</string>
		</array>
	</dict>
	<dict>
		<key>family</key>
		<string>DejaVu Sans Mono</string>
		<key>location</key>
		<string></string>
		<key>fonts</key>
		<array>
			<string>DejaVuSansMono</string>
			<string>DejaVuSansMono-Bold</string>
			<string>DejaVuSansMono-Oblique</string>
			<string>DejaVuSansMono-BoldOblique</string>
		</array>
	</dict>
	<dict>
		<key>family</key>
		<string>Hacks</string>
		<key>location</key>
		<string></string>
		<key>fonts</key>
		<array>
			<string>Hack-Regular</string>
			<string>Hack-Bold</string>
			<string>Hack-Italic</string>
			<string>Hack-BoldItalic</string>
		</array>
	</dict>
</array>
</plist>
