<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>family</key>
		<string>Courier</string>
		<key>location</key>
		<string></string>
		<key>fonts</key>
		<array>
			<string>Courier</string>
			<string>Courier-Bold</string>
			<string>Courier-Oblique</string>
			<string>Courier-BoldOblique</string>
		</array>
	</dict>
	<dict>
		<key>family</key>
		<string>Courier New</string>
		<key>location</key>
		<string></string>
		<key>fonts</key>
		<array>
			<string>CourierNewPSMT</string>
			<string>CourierNewPS-BoldMT</string>
			<string>CourierNewPS-ItalicMT</string>
			<string>CourierNewPS-BoldItalicMT</string>
		</array>
	</dict>
	<dict>
		<key>family</key>
		<string>Menlo</string>
		<key>location</key>
		<string></string>
		<key>fonts</key>
		<array>
			<string>Menlo-Regular</string>
			<string>Menlo-Bold</string>
			<string>Menlo-Italic</string>
			<string>Menlo-BoldItalic</string>
		</array>
	</dict>
</array>
</plist>