<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XXTExplorer-Archive.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4ECED1B1D5E1A306ABE9AD779B7438DAE42348F9</string>
				<key>dateExpires</key>
				<string>6/25/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GXZ23M5TP2.com.xxtouch.XXTExplorer</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.xxtouch.XXTExplorer</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>GXZ23M5TP2</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.com.xxtouch.XXTExplorer</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>GXZ23M5TP2.com.xxtouch.XXTExplorer</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>XXTExplorer-Archive.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>762f4565-bc44-4f4a-bfef-c0ebb83814e7</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.xxtouch.XXTExplorer</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GXZ23M5TP2</string>
				<key>name</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
