<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>Group</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>About</string>
			<key>label</key>
			<string>XXTouch
v3.0.1</string>
			<key>value</key>
			<string>https://82flex.com
2014-2022 © XXTouch Team.
All Rights Reserved.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>Group</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>Link</string>
			<key>icon</key>
			<string>res/XXTEAboutIconHome.png</string>
			<key>label</key>
			<string>Official Site</string>
			<key>url</key>
			<string>https://www.xxtou.ch</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>Link</string>
			<key>icon</key>
			<string>res/XXTEAboutIconCopyright.png</string>
			<key>label</key>
			<string>Copyright &amp; User Agreement</string>
			<key>url</key>
			<string>Root.plist</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>Group</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string>SendMail:</string>
			<key>args</key>
			<dict>
				<key>ccRecipients</key>
				<array>
					<string>i.82@qq.com</string>
				</array>
				<key>subject</key>
				<string>[Feedback] XXTouch v3.0.1</string>
				<key>toRecipients</key>
				<array>
					<string>bug@xxtou.ch</string>
				</array>
			</dict>
			<key>cell</key>
			<string>Button</string>
			<key>icon</key>
			<string>res/XXTEAboutIconMail.png</string>
			<key>iconRenderingMode</key>
			<string>AlwaysTemplate</string>
			<key>label</key>
			<string>Mail Feedback</string>
		</dict>
		<dict>
			<key>action</key>
			<string>OpenURL:</string>
			<key>args</key>
			<dict>
				<key>url</key>
				<string>https://jq.qq.com/?_wv=1027&amp;k=5m6QaQh</string>
			</dict>
			<key>cell</key>
			<string>Button</string>
			<key>icon</key>
			<string>res/XXTEAboutIconGroup.png</string>
			<key>iconRenderingMode</key>
			<string>AlwaysTemplate</string>
			<key>label</key>
			<string>Official QQ Group</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>Group</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string>XXTCheckUpdate:</string>
			<key>args</key>
			<dict/>
			<key>cell</key>
			<string>Button</string>
			<key>icon</key>
			<string>res/XXTEAboutIconUpdate.png</string>
			<key>iconRenderingMode</key>
			<string>AlwaysTemplate</string>
			<key>label</key>
			<string>Check Update</string>
		</dict>
		<dict>
			<key>action</key>
			<string>XXTResetDefaults:</string>
			<key>args</key>
			<dict/>
			<key>cell</key>
			<string>Button</string>
			<key>icon</key>
			<string>res/XXTEAboutIconRecover.png</string>
			<key>iconRenderingMode</key>
			<string>AlwaysTemplate</string>
			<key>label</key>
			<string>Reset Defaults</string>
		</dict>
	</array>
	<key>stringsTable</key>
	<string>About</string>
	<key>theme</key>
	<dict>
		<key>navigationBarColor</key>
		<string>#3498db</string>
		<key>selectedColor</key>
		<string>#3498db18</string>
		<key>tintColor</key>
		<string>#3498db</string>
	</dict>
	<key>title</key>
	<string>About</string>
</dict>
</plist>
