<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>theme</key>
	<dict>
		<key>tintColor</key>
		<string>#3498db</string>
		<key>navigationBarColor</key>
		<string>#3498db</string>
		<key>selectedColor</key>
		<string>#3498db18</string>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>Link</string>
			<key>label</key>
			<string>User&apos;s Guide</string>
			<key>url</key>
			<string>https://kb.xxtou.ch/ABC.html</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>Link</string>
			<key>label</key>
			<string>Update Logs</string>
			<key>url</key>
			<string>https://kb.xxtou.ch/UpdateLogs.html</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>Link</string>
			<key>label</key>
			<string>Developer References</string>
			<key>url</key>
			<string>https://kb.xxtou.ch/Handbook/index.html</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>Link</string>
			<key>label</key>
			<string>OpenAPI References</string>
			<key>url</key>
			<string>https://kb.xxtou.ch/OpenAPI/index.html</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>Link</string>
			<key>label</key>
			<string>XPP References</string>
			<key>url</key>
			<string>https://kb.xxtou.ch/XPP/index.html</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>Link</string>
			<key>label</key>
			<string>XUI References</string>
			<key>url</key>
			<string>https://kb.xxtou.ch/XUI/index.html</string>
		</dict>
	</array>
	<key>stringsTable</key>
	<string>Documents</string>
	<key>title</key>
	<string>Online Documents</string>
</dict>
</plist>
