<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dominantColor</key>
		<string>1c1e20</string>
		<key>firstHighlight</key>
		<string>b9c6d3</string>
		<key>isDark</key>
		<true/>
		<key>location</key>
		<string></string>
		<key>name</key>
		<string>Tomorrow Night</string>
		<key>preview</key>
		<string>Tomorrow Night.png</string>
		<key>secondHighlight</key>
		<string>6b727a</string>
	</dict>
</array>
</plist>
