<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXPLORER_HOME_SERIES</key>
	<array>
		<dict>
			<key>title</key>
			<string>主目录</string>
			<key>subtitle</key>
			<string>XXTouch Editor 主目录</string>
			<key>icon</key>
			<string>XXTExplorerViewSectionHomeSeriesHomeIcon</string>
			<key>path</key>
			<string></string>
		</dict>
	</array>
	<key>SECTION_META</key>
	<array>
		<dict>
			<key>key</key>
			<string>EXPLORER_USER_DEFAULTS</string>
			<key>title</key>
			<string>文件管理器设置</string>
		</dict>
		<dict>
			<key>key</key>
			<string>VIEWER_USER_DEFAULTS</string>
			<key>title</key>
			<string>文件查看器设置</string>
		</dict>
		<dict>
			<key>key</key>
			<string>EDITOR_USER_DEFAULTS</string>
			<key>title</key>
			<string>代码编辑器设置</string>
		</dict>
	</array>
	<key>EXPLORER_USER_DEFAULTS</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryListSortFieldKey</string>
			<key>default</key>
			<real>0</real>
			<key>title</key>
			<string>文件列表排序字段</string>
			<key>description</key>
			<string>排序字段与排序方式决定了文件列表中项目的顺序.</string>
			<key>options</key>
			<array>
				<string>创建日期</string>
				<string>修改日期</string>
				<string>显示名称</string>
				<string>项目类型</string>
				<string>项目尺寸</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryListSortOrderKey</string>
			<key>default</key>
			<integer>1</integer>
			<key>title</key>
			<string>文件列表排序方式</string>
			<key>description</key>
			<string>排序字段与排序方式决定了文件列表中项目的顺序.</string>
			<key>options</key>
			<array>
				<string>升序</string>
				<string>降序</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryHomeEnabledKey</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>显示 &quot;主目录&quot; 入口</string>
			<key>description</key>
			<string>在文件管理器顶部显示 &quot;主目录&quot; 入口.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<string>YES</string>
			<key>key</key>
			<string>XXTExplorerAllowsImportFromAlbum</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>允许从相册导入</string>
			<key>description</key>
			<string>关闭此功能以防止与帮助程序进行通信, 从而避免一些奇怪的系统错误.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryListHideDotItemKey</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>隐藏点符文件</string>
			<key>description</key>
			<string>隐藏文件名以句点 (&quot;.&quot;) 开头的文件.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryHideCommonFileExtensionsEnabledKey</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>隐藏已知文件的扩展名</string>
			<key>description</key>
			<string>在文件管理器中隐藏已知文件的扩展名, 如 &quot;.txt&quot;, &quot;.lua&quot; 等.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryHideOperationLabelKey</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>隐藏操作标签</string>
			<key>description</key>
			<string>隐藏滑动操作标签, 如 &quot;启动&quot;, &quot;编辑&quot; 等.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerAllowOpenMethodKey</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>允许修改打开方式</string>
			<key>description</key>
			<string>允许在 &quot;项目属性&quot; 中修改打开方式.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
	</array>
	<key>VIEWER_USER_DEFAULTS</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerDefaultEncodingKey</string>
			<key>default</key>
			<string>Unicode (UTF-8)</string>
			<key>title</key>
			<string>默认编码</string>
			<key>description</key>
			<string>文件查看器解析文本时所使用的默认编码.</string>
			<key>options</key>
			<array>
				<string>Unicode (UTF-8)</string>
				<string>Western (ASCII)</string>
				<string>Western (ISO Latin 1)</string>
				<string>Western (Mac OS Roman)</string>
				<string>Western (Windows Latin 1, CP 1252)</string>
				<string>Western (DOS Latin 1, CP 850)</string>
				<string>Western (ISO Latin 3)</string>
				<string>Western (ISO Latin 9)</string>
				<string>Latin-US (DOS, CP 437)</string>
				<string>Baltic (ISO Latin 7)</string>
				<string>Baltic (Windows)</string>
				<string>Baltic (DOS)</string>
				<string>Central European (ISO Latin 2)</string>
				<string>Central European (ISO Latin 4)</string>
				<string>Central European (Mac OS)</string>
				<string>Central European (Windows Latin 2)</string>
				<string>Central European (DOS Latin 2, CP 852)</string>
				<string>Cyrillic (KOI8-R)</string>
				<string>Cyrillic (ISO 8859-5)</string>
				<string>Cyrillic (Mac OS)</string>
				<string>Cyrillic (Windows, CP 1251)</string>
				<string>Cyrillic (DOS)</string>
				<string>Greek (ISO 8859-7)</string>
				<string>Greek (Mac OS)</string>
				<string>Greek (Windows, CP 1253)</string>
				<string>Greek (DOS)</string>
				<string>Greek (DOS Greek 1)</string>
				<string>Greek (DOS Greek 2)</string>
				<string>Nordic (ISO Latin 6)</string>
				<string>Nordic (DOS)</string>
				<string>Celtic (ISO Latin 8)</string>
				<string>Celtic (Mac OS)</string>
				<string>Romanian (ISO Latin 10)</string>
				<string>Romanian (Mac OS)</string>
				<string>Turkish (ISO Latin 5)</string>
				<string>Turkish (Mac OS)</string>
				<string>Turkish (Windows Latin 5)</string>
				<string>Turkish (DOS)</string>
				<string>Japanese (Shift JIS)</string>
				<string>Japanese (ISO 2022-JP)</string>
				<string>Japanese (ISO 2022-JP-1)</string>
				<string>Japanese (ISO 2022-JP-2)</string>
				<string>Japanese (ISO 2022-JP-3)</string>
				<string>Japanese (EUC)</string>
				<string>Japanese (Mac OS)</string>
				<string>Japanese (Windows, DOS)</string>
				<string>Chinese (GB 18030)</string>
				<string>Chinese (ISO 2022-CN)</string>
				<string>Chinese (ISO 2022-CN-EXT)</string>
				<string>Simplified Chinese (GB 2312)</string>
				<string>Simplified Chinese (Mac OS)</string>
				<string>Simplified Chinese (Windows, DOS)</string>
				<string>Traditional Chinese (Big 5)</string>
				<string>Traditional Chinese (Big 5 HKSCS)</string>
				<string>Traditional Chinese (EUC)</string>
				<string>Traditional Chinese (Mac OS)</string>
				<string>Traditional Chinese (Windows, DOS)</string>
				<string>Korean (EUC)</string>
				<string>Korean (Mac OS)</string>
				<string>Korean (Windows Johab)</string>
				<string>Korean (Windows, DOS)</string>
				<string>Vietnamese (Mac OS)</string>
				<string>Vietnamese (Windows)</string>
				<string>Thai (ISO 8859-11)</string>
				<string>Thai (Mac OS)</string>
				<string>Thai (Windows, DOS)</string>
				<string>Hebrew (ISO 8859-8)</string>
				<string>Hebrew (Mac OS)</string>
				<string>Hebrew (Windows)</string>
				<string>Hebrew (DOS)</string>
				<string>Arabic (ISO 8859-6)</string>
				<string>Arabic (Mac OS)</string>
				<string>Arabic (Windows)</string>
				<string>Arabic (DOS)</string>
				<string>Unicode (UTF-16)</string>
				<string>Unicode (UTF-16BE)</string>
				<string>Unicode (UTF-16LE)</string>
				<string>Unicode (UTF-32)</string>
				<string>Unicode (UTF-32BE)</string>
				<string>Unicode (UTF-32LE)</string>
				<string>Western (EBCDIC US)</string>
				<string>Western (EBCDIC Latin 1)</string>
				<string>Non-lossy ASCII</string>
			</array>
		</dict>
	</array>
	<key>EDITOR_USER_DEFAULTS</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerTerminalPresentationStyle</string>
			<key>default</key>
			<real>0</real>
			<key>title</key>
			<string>终端展示样式</string>
			<key>description</key>
			<string>仅适用于 iPhone/iPod, 此选项决定当你按下运行按钮时, 终端的显示样式.</string>
			<key>options</key>
			<array>
				<string>推出新页面</string>
				<string>以模态框展示</string>
				<string>以悬浮窗展示</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
