<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXPLORER_HOME_SERIES</key>
	<array>
		<dict>
			<key>title</key>
			<string>根目录</string>
			<key>subtitle</key>
			<string>iOS 文件系统根目录</string>
			<key>icon</key>
			<string>XXTExplorerViewSectionHomeSeriesRootIcon</string>
			<key>path</key>
			<string>/</string>
		</dict>
		<dict>
			<key>title</key>
			<string>主目录</string>
			<key>subtitle</key>
			<string>XXTouch 运行时主目录</string>
			<key>icon</key>
			<string>XXTExplorerViewSectionHomeSeriesHomeIcon</string>
			<key>path</key>
			<string></string>
		</dict>
	</array>
	<key>SECTION_META</key>
	<array>
		<dict>
			<key>key</key>
			<string>EXPLORER_USER_DEFAULTS</string>
			<key>title</key>
			<string>文件管理器设置</string>
		</dict>
		<dict>
			<key>key</key>
			<string>REMOTE_USER_DEFAULTS</string>
			<key>title</key>
			<string>守护进程设置</string>
		</dict>
	</array>
	<key>EXPLORER_USER_DEFAULTS</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryListSortFieldKey</string>
			<key>default</key>
			<real>0</real>
			<key>title</key>
			<string>文件列表排序字段</string>
			<key>description</key>
			<string>排序字段与排序方式决定了文件列表中项目的顺序.</string>
			<key>options</key>
			<array>
				<string>创建日期</string>
				<string>修改日期</string>
				<string>显示名称</string>
				<string>项目类型</string>
				<string>项目尺寸</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryListSortOrderKey</string>
			<key>default</key>
			<integer>1</integer>
			<key>title</key>
			<string>文件列表排序方式</string>
			<key>description</key>
			<string>排序字段与排序方式决定了文件列表中项目的顺序.</string>
			<key>options</key>
			<array>
				<string>升序</string>
				<string>降序</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryHomeEnabledKey</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>显示 &quot;主目录&quot; 入口</string>
			<key>description</key>
			<string>在文件管理器顶部显示 &quot;主目录&quot; 入口.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryListHideDotItemKey</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>隐藏点符文件</string>
			<key>description</key>
			<string>隐藏文件名以句点 (&quot;.&quot;) 开头的文件.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryHideCommonFileExtensionsEnabledKey</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>隐藏已知文件的扩展名</string>
			<key>description</key>
			<string>在文件管理器中隐藏已知文件的扩展名, 如 &quot;.txt&quot;, &quot;.lua&quot; 等.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryHideOperationLabelKey</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>隐藏操作标签</string>
			<key>description</key>
			<string>隐藏滑动操作标签, 如 &quot;启动&quot;, &quot;编辑&quot; 等.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerAllowOpenMethodKey</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>允许修改打开方式</string>
			<key>description</key>
			<string>允许在 &quot;项目属性&quot; 中修改打开方式.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<string>YES</string>
			<key>key</key>
			<string>XXTExplorerViewEntrySelectLaunchedScriptKey</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>选择启动的脚本</string>
			<key>description</key>
			<string>自动选中在文件管理器中启动过的脚本.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<string>YES</string>
			<key>key</key>
			<string>XXTExplorerPasteboardDetectOnActive</string>
			<key>default</key>
			<integer>0</integer>
			<key>title</key>
			<string>唤醒时检查剪贴板可用内容</string>
			<key>description</key>
			<string>当应用程序启动或从后台唤醒时, 检查剪贴板中的授权码或可供下载的 URL.</string>
			<key>options</key>
			<array>
				<string>不检查</string>
				<string>仅检查可供下载的 URL</string>
				<string>仅检查授权码</string>
				<string>全部检查</string>
			</array>
		</dict>
	</array>
	<key>REMOTE_USER_DEFAULTS</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>no_nosim_alert</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>隐藏 &quot;无 SIM&quot; 弹出框</string>
			<key>description</key>
			<string>禁止 &quot;无 SIM&quot; 弹出框显示.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>no_low_power_alert</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>隐藏 &quot;低电量&quot; 弹出框</string>
			<key>description</key>
			<string>禁止 &quot;低电量&quot; 弹出框显示.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>no_idle</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>失眠模式</string>
			<key>description</key>
			<string>防止设备进入睡眠模式 (掉线).</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>script_on_daemon</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>守护模式</string>
			<key>description</key>
			<string>如果守护进程崩溃, 尝试重启最后一次运行的脚本.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>script_end_hint</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>脚本停止提示</string>
			<key>description</key>
			<string>显示 &quot;脚本已停止&quot; 浮动提示信息.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>no_need_pushid_alert</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>隐藏 &quot;连接到 iTunes...&quot; 弹出框</string>
			<key>description</key>
			<string>禁止 &quot;连接到 iTunes 以使用推送通知&quot; 弹出框显示.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>no_nosim_statusbar</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>隐藏状态栏 &quot;无 SIM&quot; 标签</string>
			<key>description</key>
			<string>禁止状态栏 &quot;无 SIM&quot; 文字标签显示.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>use_classic_control_alert</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>使用经典提示框</string>
			<key>description</key>
			<string>在守护进程中使用经典提示框, 而不是动画提示框.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
