<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXPLORER_HOME_SERIES</key>
	<array>
		<dict>
			<key>title</key>
			<string>根目录</string>
			<key>subtitle</key>
			<string>iOS 文件系统根目录</string>
			<key>icon</key>
			<string>XXTExplorerViewSectionHomeSeriesRootIcon</string>
			<key>path</key>
			<string>/</string>
		</dict>
		<dict>
			<key>title</key>
			<string>主目录</string>
			<key>subtitle</key>
			<string>XXTouch 运行时主目录</string>
			<key>icon</key>
			<string>XXTExplorerViewSectionHomeSeriesHomeIcon</string>
			<key>path</key>
			<string></string>
		</dict>
	</array>
	<key>SECTION_META</key>
	<array>
		<dict>
			<key>key</key>
			<string>GLOBAL_DEFAULTS</string>
			<key>title</key>
			<string>全局设置</string>
		</dict>
		<dict>
			<key>key</key>
			<string>EXPLORER_USER_DEFAULTS</string>
			<key>title</key>
			<string>文件管理器设置</string>
		</dict>
		<dict>
			<key>key</key>
			<string>REMOTE_USER_DEFAULTS</string>
			<key>title</key>
			<string>守护进程设置</string>
		</dict>
		<dict>
			<key>key</key>
			<string>VIEWER_USER_DEFAULTS</string>
			<key>title</key>
			<string>文件查看器设置</string>
		</dict>
	</array>
	<key>GLOBAL_DEFAULTS</key>
	<array>
		<dict>
			<key>enabled</key>
			<string>YES</string>
			<key>key</key>
			<string>XXTExplorerPasteboardDetectOnActiveKey</string>
			<key>default</key>
			<integer>0</integer>
			<key>title</key>
			<string>唤醒时检查剪贴板可用内容</string>
			<key>description</key>
			<string>当应用程序启动或从后台唤醒时, 检查剪贴板中的授权码或可供下载的 URL.</string>
			<key>options</key>
			<array>
				<string>不检查</string>
				<string>仅检查可供下载的 URL</string>
				<string>仅检查授权码</string>
				<string>全部检查</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<string>YES</string>
			<key>key</key>
			<string>XXTExplorerFixFileOwnerAutomaticallyKey</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>自动修复文件所有者</string>
			<key>description</key>
			<string>如果可能, 通过命令行 &quot;chown&quot; 以自动修复文件的所有者属性.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
	</array>
	<key>EXPLORER_USER_DEFAULTS</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryListSortFieldKey</string>
			<key>default</key>
			<real>0</real>
			<key>title</key>
			<string>文件列表排序字段</string>
			<key>description</key>
			<string>排序字段与排序方式决定了文件列表中项目的顺序.</string>
			<key>options</key>
			<array>
				<string>创建日期</string>
				<string>修改日期</string>
				<string>显示名称</string>
				<string>项目类型</string>
				<string>项目尺寸</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryListSortOrderKey</string>
			<key>default</key>
			<integer>1</integer>
			<key>title</key>
			<string>文件列表排序方式</string>
			<key>description</key>
			<string>排序字段与排序方式决定了文件列表中项目的顺序.</string>
			<key>options</key>
			<array>
				<string>升序</string>
				<string>降序</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryHomeEnabledKey</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>显示 &quot;主目录&quot; 入口</string>
			<key>description</key>
			<string>在文件管理器顶部显示 &quot;主目录&quot; 入口.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<string>YES</string>
			<key>key</key>
			<string>XXTExplorerAllowsImportFromAlbum</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>允许从相册导入</string>
			<key>description</key>
			<string>关闭此功能以防止与帮助程序进行通信, 从而避免一些奇怪的系统错误.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryListHideDotItemKey</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>隐藏点符文件</string>
			<key>description</key>
			<string>隐藏文件名以句点 (&quot;.&quot;) 开头的文件.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryHideCommonFileExtensionsEnabledKey</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>隐藏已知文件的扩展名</string>
			<key>description</key>
			<string>在文件管理器中隐藏已知文件的扩展名, 如 &quot;.txt&quot;, &quot;.lua&quot; 等.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryHideOperationLabelKey</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>隐藏操作标签</string>
			<key>description</key>
			<string>隐藏滑动操作标签, 如 &quot;启动&quot;, &quot;编辑&quot; 等.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerAllowOpenMethodKey</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>允许修改打开方式</string>
			<key>description</key>
			<string>允许在 &quot;项目属性&quot; 中修改打开方式.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerAllowEditingFileOwnerKey</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>允许修改文件所有者信息</string>
			<key>description</key>
			<string>允许在 &quot;项目属性&quot; 中修改文件所有者/组/权限信息.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<string>YES</string>
			<key>key</key>
			<string>XXTExplorerViewEntrySelectLaunchedScriptKey</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>选择启动的脚本</string>
			<key>description</key>
			<string>自动选中在文件管理器中启动过的脚本.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerHistoryStoreLimit</string>
			<key>default</key>
			<integer>3</integer>
			<key>title</key>
			<string>历史记录存储上限</string>
			<key>description</key>
			<string>历史记录项目最大存储时间. 如果超出限制, 最早的项目将会被清除.</string>
			<key>options</key>
			<array>
				<string>1 周</string>
				<string>1 个月</string>
				<string>3 个月</string>
				<string>6 个月</string>
				<string>1 年</string>
				<string>永久</string>
			</array>
		</dict>
	</array>
	<key>VIEWER_USER_DEFAULTS</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerDefaultEncodingKey</string>
			<key>default</key>
			<integer>0</integer>
			<key>title</key>
			<string>默认编码</string>
			<key>description</key>
			<string>文件查看器解析文本时所使用的默认编码.</string>
			<key>options</key>
			<array>
				<string>Unicode (UTF-8)</string>
				<string>Western (ASCII)</string>
				<string>Western (ISO Latin 1)</string>
				<string>Western (Mac OS Roman)</string>
				<string>Western (Windows Latin 1, CP 1252)</string>
				<string>Western (DOS Latin 1, CP 850)</string>
				<string>Western (ISO Latin 3)</string>
				<string>Western (ISO Latin 9)</string>
				<string>Latin-US (DOS, CP 437)</string>
				<string>Baltic (ISO Latin 7)</string>
				<string>Baltic (Windows)</string>
				<string>Baltic (DOS)</string>
				<string>Central European (ISO Latin 2)</string>
				<string>Central European (ISO Latin 4)</string>
				<string>Central European (Mac OS)</string>
				<string>Central European (Windows Latin 2)</string>
				<string>Central European (DOS Latin 2, CP 852)</string>
				<string>Cyrillic (KOI8-R)</string>
				<string>Cyrillic (ISO 8859-5)</string>
				<string>Cyrillic (Mac OS)</string>
				<string>Cyrillic (Windows, CP 1251)</string>
				<string>Cyrillic (DOS)</string>
				<string>Greek (ISO 8859-7)</string>
				<string>Greek (Mac OS)</string>
				<string>Greek (Windows, CP 1253)</string>
				<string>Greek (DOS)</string>
				<string>Greek (DOS Greek 1)</string>
				<string>Greek (DOS Greek 2)</string>
				<string>Nordic (ISO Latin 6)</string>
				<string>Nordic (DOS)</string>
				<string>Celtic (ISO Latin 8)</string>
				<string>Celtic (Mac OS)</string>
				<string>Romanian (ISO Latin 10)</string>
				<string>Romanian (Mac OS)</string>
				<string>Turkish (ISO Latin 5)</string>
				<string>Turkish (Mac OS)</string>
				<string>Turkish (Windows Latin 5)</string>
				<string>Turkish (DOS)</string>
				<string>Japanese (Shift JIS)</string>
				<string>Japanese (ISO 2022-JP)</string>
				<string>Japanese (ISO 2022-JP-1)</string>
				<string>Japanese (ISO 2022-JP-2)</string>
				<string>Japanese (ISO 2022-JP-3)</string>
				<string>Japanese (EUC)</string>
				<string>Japanese (Mac OS)</string>
				<string>Japanese (Windows, DOS)</string>
				<string>Chinese (GB 18030)</string>
				<string>Chinese (ISO 2022-CN)</string>
				<string>Chinese (ISO 2022-CN-EXT)</string>
				<string>Simplified Chinese (GB 2312)</string>
				<string>Simplified Chinese (Mac OS)</string>
				<string>Simplified Chinese (Windows, DOS)</string>
				<string>Traditional Chinese (Big 5)</string>
				<string>Traditional Chinese (Big 5 HKSCS)</string>
				<string>Traditional Chinese (EUC)</string>
				<string>Traditional Chinese (Mac OS)</string>
				<string>Traditional Chinese (Windows, DOS)</string>
				<string>Korean (EUC)</string>
				<string>Korean (Mac OS)</string>
				<string>Korean (Windows Johab)</string>
				<string>Korean (Windows, DOS)</string>
				<string>Vietnamese (Mac OS)</string>
				<string>Vietnamese (Windows)</string>
				<string>Thai (ISO 8859-11)</string>
				<string>Thai (Mac OS)</string>
				<string>Thai (Windows, DOS)</string>
				<string>Hebrew (ISO 8859-8)</string>
				<string>Hebrew (Mac OS)</string>
				<string>Hebrew (Windows)</string>
				<string>Hebrew (DOS)</string>
				<string>Arabic (ISO 8859-6)</string>
				<string>Arabic (Mac OS)</string>
				<string>Arabic (Windows)</string>
				<string>Arabic (DOS)</string>
				<string>Unicode (UTF-16)</string>
				<string>Unicode (UTF-16BE)</string>
				<string>Unicode (UTF-16LE)</string>
				<string>Unicode (UTF-32)</string>
				<string>Unicode (UTF-32BE)</string>
				<string>Unicode (UTF-32LE)</string>
				<string>Western (EBCDIC US)</string>
				<string>Western (EBCDIC Latin 1)</string>
				<string>Non-lossy ASCII</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<string>XXTExplorerViewerRegexSearch</string>
			<key>default</key>
			<real>0</real>
			<key>title</key>
			<string>正则表达式搜索</string>
			<key>description</key>
			<string>在文本/代码查看器中使用正则表达式进行搜索.
该选项不会在代码编辑器中生效.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<string>XXTExplorerViewerCaseSensitiveSearch</string>
			<key>default</key>
			<real>0</real>
			<key>title</key>
			<string>区分大小写搜索</string>
			<key>description</key>
			<string>在文本/代码查看器中使用大小写敏感模式进行搜索.
该选项不会在代码编辑器中生效.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerTerminalSaveLogs</string>
			<key>default</key>
			<integer>1</integer>
			<key>title</key>
			<string>终端保存日志</string>
			<key>description</key>
			<string>将终端实时日志写入 &apos;~/log/&apos;.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
	</array>
	<key>REMOTE_USER_DEFAULTS</key>
	<array>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<string>device_control_toggle</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>启用快捷键</string>
			<key>description</key>
			<string>允许设备控制快捷键事件启动或停止选中的脚本.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>no_nosim_alert</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>隐藏 &quot;无 SIM&quot; 弹出框</string>
			<key>description</key>
			<string>禁止 &quot;无 SIM&quot; 弹出框显示.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>no_low_power_alert</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>隐藏 &quot;低电量&quot; 弹出框</string>
			<key>description</key>
			<string>禁止 &quot;低电量&quot; 弹出框显示.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>no_idle</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>失眠模式</string>
			<key>description</key>
			<string>防止设备进入睡眠模式 (掉线).</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>script_on_daemon</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>守护模式</string>
			<key>description</key>
			<string>如果守护进程崩溃, 尝试重启最后一次运行的脚本.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>script_end_hint</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>脚本停止提示</string>
			<key>description</key>
			<string>显示 &quot;脚本已停止&quot; 浮动提示信息.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>no_need_pushid_alert</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>隐藏 &quot;连接到 iTunes...&quot; 弹出框</string>
			<key>description</key>
			<string>禁止 &quot;连接到 iTunes 以使用推送通知&quot; 弹出框显示.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>no_nosim_statusbar</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>隐藏状态栏 &quot;无 SIM&quot; 标签</string>
			<key>description</key>
			<string>禁止状态栏 &quot;无 SIM&quot; 文字标签显示.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>use_classic_control_alert</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>使用经典提示框</string>
			<key>description</key>
			<string>在守护进程中使用经典提示框, 而不是动画提示框.</string>
			<key>options</key>
			<array>
				<string>关闭</string>
				<string>开启</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<string>record_volume</string>
			<key>default</key>
			<integer>0</integer>
			<key>title</key>
			<string>录制音量键</string>
			<key>description</key>
			<string>在录制模式下, 忽略或录制音量物理按键的操作.</string>
			<key>options</key>
			<array>
				<string>不录制</string>
				<string>仅录制音量 +</string>
				<string>仅录制音量 -</string>
				<string>同时录制音量 +/-</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
