@font-face {
    font-family: "AnonymousPro";
    font-weight: normal;
    src: url("../fonts/Anonymous_Pro.ttf") format("truetype");
}
@font-face {
    font-family: "AnonymousPro";
    font-weight: bold;
    src: url("../fonts/Anonymous_Pro_B.ttf") format("truetype");
}
@font-face {
    font-family: "AnonymousPro";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/Anonymous_Pro_I.ttf") format("truetype");
}
@font-face {
    font-family: "AnonymousPro";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/Anonymous_Pro_BI.ttf") format("truetype");
}

@font-face {
    font-family: "CamingoCode-Regular";
    font-weight: normal;
    src: url("../fonts/CamingoCode-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "CamingoCode-Regular";
    font-weight: bold;
    src: url("../fonts/CamingoCode-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "CamingoCode-Regular";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/CamingoCode-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "CamingoCode-Regular";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/CamingoCode-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVuSansMono";
    font-weight: normal;
    src: url("../fonts/DejaVuSansMono.ttf") format("truetype");
}
@font-face {
    font-family: "DejaVuSansMono";
    font-weight: bold;
    src: url("../fonts/DejaVuSansMono-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "DejaVuSansMono";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/DejaVuSansMono-Oblique.ttf") format("truetype");
}
@font-face {
    font-family: "DejaVuSansMono";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/DejaVuSansMono-BoldOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Hack-Regular";
    font-weight: normal;
    src: url("../fonts/Hack-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Hack-Regular";
    font-weight: bold;
    src: url("../fonts/Hack-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Hack-Regular";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/Hack-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Hack-Regular";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/Hack-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "SourceCodePro-Regular";
    font-weight: normal;
    src: url("../fonts/SourceCodePro-Regular.otf") format("opentype");
}
@font-face {
    font-family: "SourceCodePro-Regular";
    font-weight: bold;
    src: url("../fonts/SourceCodePro-Bold.otf") format("opentype");
}
@font-face {
    font-family: "SourceCodePro-Regular";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/SourceCodePro-It.otf") format("opentype");
}
@font-face {
    font-family: "SourceCodePro-Regular";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/SourceCodePro-BoldIt.otf") format("opentype");
}

@font-face {
    font-family: "Monego-Regular";
    font-weight: normal;
    src: url("../fonts/Monego.otf") format("opentype");
}
@font-face {
    font-family: "Monego-Regular";
    font-weight: bold;
    src: url("../fonts/Monego-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Monego-Regular";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/Monego-Italic.otf") format("opentype");
}
@font-face {
    font-family: "Monego-Regular";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/Monego-BoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "Powerline-Consolas";
    font-weight: normal;
    src: url("../fonts/Powerline Consolas.ttf") format("truetype");
}
@font-face {
    font-family: "Powerline-Consolas";
    font-weight: bold;
    src: url("../fonts/Powerline Consolas Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Powerline-Consolas";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/Powerline Consolas Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Powerline-Consolas";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/Powerline Consolas Bold Italic.ttf") format("truetype");
}
