<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/a11y-dark.css</string>
		<key>name</key>
		<string>a11y-dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/a11y-dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/a11y-light.css</string>
		<key>name</key>
		<string>a11y-light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/a11y-light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/agate.css</string>
		<key>name</key>
		<string>agate</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/agate.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/an-old-hope.css</string>
		<key>name</key>
		<string>an-old-hope</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/an-old-hope.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/androidstudio.css</string>
		<key>name</key>
		<string>androidstudio</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/androidstudio.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/arduino-light.css</string>
		<key>name</key>
		<string>arduino-light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/arduino-light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/arta.css</string>
		<key>name</key>
		<string>arta</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/arta.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/ascetic.css</string>
		<key>name</key>
		<string>ascetic</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/ascetic.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-cave-dark.css</string>
		<key>name</key>
		<string>atelier-cave-dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-cave-dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-cave-light.css</string>
		<key>name</key>
		<string>atelier-cave-light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-cave-light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-dune-dark.css</string>
		<key>name</key>
		<string>atelier-dune-dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-dune-dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-dune-light.css</string>
		<key>name</key>
		<string>atelier-dune-light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-dune-light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-estuary-dark.css</string>
		<key>name</key>
		<string>atelier-estuary-dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-estuary-dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-estuary-light.css</string>
		<key>name</key>
		<string>atelier-estuary-light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-estuary-light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-forest-dark.css</string>
		<key>name</key>
		<string>atelier-forest-dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-forest-dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-forest-light.css</string>
		<key>name</key>
		<string>atelier-forest-light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-forest-light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-heath-dark.css</string>
		<key>name</key>
		<string>atelier-heath-dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-heath-dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-heath-light.css</string>
		<key>name</key>
		<string>atelier-heath-light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-heath-light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-lakeside-dark.css</string>
		<key>name</key>
		<string>atelier-lakeside-dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-lakeside-dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-lakeside-light.css</string>
		<key>name</key>
		<string>atelier-lakeside-light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-lakeside-light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-plateau-dark.css</string>
		<key>name</key>
		<string>atelier-plateau-dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-plateau-dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-plateau-light.css</string>
		<key>name</key>
		<string>atelier-plateau-light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-plateau-light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-savanna-dark.css</string>
		<key>name</key>
		<string>atelier-savanna-dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-savanna-dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-savanna-light.css</string>
		<key>name</key>
		<string>atelier-savanna-light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-savanna-light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-seaside-dark.css</string>
		<key>name</key>
		<string>atelier-seaside-dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-seaside-dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-seaside-light.css</string>
		<key>name</key>
		<string>atelier-seaside-light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-seaside-light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-sulphurpool-dark.css</string>
		<key>name</key>
		<string>atelier-sulphurpool-dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-sulphurpool-dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-sulphurpool-light.css</string>
		<key>name</key>
		<string>atelier-sulphurpool-light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atelier-sulphurpool-light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atom-one-dark.css</string>
		<key>name</key>
		<string>atom-one-dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atom-one-dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atom-one-dark-reasonable.css</string>
		<key>name</key>
		<string>atom-one-dark-reasonable</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atom-one-dark-reasonable.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atom-one-light.css</string>
		<key>name</key>
		<string>atom-one-light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/atom-one-light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/brown-paper.css</string>
		<key>name</key>
		<string>brown-paper</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/brown-paper.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/brown-papersq.css</string>
		<key>name</key>
		<string>brown-papersq</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/brown-papersq.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/codepen-embed.css</string>
		<key>name</key>
		<string>codepen-embed</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/codepen-embed.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/color-brewer.css</string>
		<key>name</key>
		<string>color-brewer</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/color-brewer.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/darcula.css</string>
		<key>name</key>
		<string>darcula</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/darcula.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/dark.css</string>
		<key>name</key>
		<string>dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/darkula.css</string>
		<key>name</key>
		<string>darkula</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/darkula.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/default.css</string>
		<key>name</key>
		<string>default</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/default.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/docco.css</string>
		<key>name</key>
		<string>docco</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/docco.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/dracula.css</string>
		<key>name</key>
		<string>dracula</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/dracula.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/far.css</string>
		<key>name</key>
		<string>far</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/far.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/foundation.css</string>
		<key>name</key>
		<string>foundation</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/foundation.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/github.css</string>
		<key>name</key>
		<string>github</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/github.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/github-gist.css</string>
		<key>name</key>
		<string>github-gist</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/github-gist.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/gml.css</string>
		<key>name</key>
		<string>gml</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/gml.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/googlecode.css</string>
		<key>name</key>
		<string>googlecode</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/googlecode.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/grayscale.css</string>
		<key>name</key>
		<string>grayscale</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/grayscale.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/gruvbox-dark.css</string>
		<key>name</key>
		<string>gruvbox-dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/gruvbox-dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/gruvbox-light.css</string>
		<key>name</key>
		<string>gruvbox-light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/gruvbox-light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/hopscotch.css</string>
		<key>name</key>
		<string>hopscotch</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/hopscotch.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/hybrid.css</string>
		<key>name</key>
		<string>hybrid</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/hybrid.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/idea.css</string>
		<key>name</key>
		<string>idea</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/idea.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/ir-black.css</string>
		<key>name</key>
		<string>ir-black</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/ir-black.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/isbl-editor-dark.css</string>
		<key>name</key>
		<string>isbl-editor-dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/isbl-editor-dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/isbl-editor-light.css</string>
		<key>name</key>
		<string>isbl-editor-light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/isbl-editor-light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/kimbie.dark.css</string>
		<key>name</key>
		<string>kimbie.dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/kimbie.dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/kimbie.light.css</string>
		<key>name</key>
		<string>kimbie.light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/kimbie.light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/lightfair.css</string>
		<key>name</key>
		<string>lightfair</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/lightfair.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/magula.css</string>
		<key>name</key>
		<string>magula</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/magula.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/mono-blue.css</string>
		<key>name</key>
		<string>mono-blue</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/mono-blue.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/monokai.css</string>
		<key>name</key>
		<string>monokai</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/monokai.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/monokai-sublime.css</string>
		<key>name</key>
		<string>monokai-sublime</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/monokai-sublime.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/nord.css</string>
		<key>name</key>
		<string>nord</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/nord.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/obsidian.css</string>
		<key>name</key>
		<string>obsidian</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/obsidian.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/ocean.css</string>
		<key>name</key>
		<string>ocean</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/ocean.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/paraiso-dark.css</string>
		<key>name</key>
		<string>paraiso-dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/paraiso-dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/paraiso-light.css</string>
		<key>name</key>
		<string>paraiso-light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/paraiso-light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/pojoaque.css</string>
		<key>name</key>
		<string>pojoaque</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/pojoaque.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/pojoaque.css</string>
		<key>name</key>
		<string>pojoaque</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/pojoaque.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/purebasic.css</string>
		<key>name</key>
		<string>purebasic</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/purebasic.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/qtcreator_dark.css</string>
		<key>name</key>
		<string>qtcreator_dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/qtcreator_dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/qtcreator_light.css</string>
		<key>name</key>
		<string>qtcreator_light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/qtcreator_light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/railscasts.css</string>
		<key>name</key>
		<string>railscasts</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/railscasts.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/rainbow.css</string>
		<key>name</key>
		<string>rainbow</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/rainbow.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/routeros.css</string>
		<key>name</key>
		<string>routeros</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/routeros.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/school-book.css</string>
		<key>name</key>
		<string>school-book</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/school-book.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/school-book.css</string>
		<key>name</key>
		<string>school-book</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/school-book.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/shades-of-purple.css</string>
		<key>name</key>
		<string>shades-of-purple</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/shades-of-purple.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/solarized-dark.css</string>
		<key>name</key>
		<string>solarized-dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/solarized-dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/solarized-light.css</string>
		<key>name</key>
		<string>solarized-light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/solarized-light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/sunburst.css</string>
		<key>name</key>
		<string>sunburst</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/sunburst.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/tomorrow.css</string>
		<key>name</key>
		<string>tomorrow</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/tomorrow.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/tomorrow-night.css</string>
		<key>name</key>
		<string>tomorrow-night</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/tomorrow-night.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/tomorrow-night-blue.css</string>
		<key>name</key>
		<string>tomorrow-night-blue</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/tomorrow-night-blue.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/tomorrow-night-bright.css</string>
		<key>name</key>
		<string>tomorrow-night-bright</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/tomorrow-night-bright.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/tomorrow-night-eighties.css</string>
		<key>name</key>
		<string>tomorrow-night-eighties</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/tomorrow-night-eighties.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/vs.css</string>
		<key>name</key>
		<string>vs</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/vs.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/vs2015.css</string>
		<key>name</key>
		<string>vs2015</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/vs2015.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/xcode.css</string>
		<key>name</key>
		<string>xcode</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/xcode.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/xt256.css</string>
		<key>name</key>
		<string>xt256</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/xt256.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/zenburn.css</string>
		<key>name</key>
		<string>zenburn</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/zenburn.png</string>
	</dict>
</array>
</plist>
