<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/a11y-dark.css</string>
		<key>name</key>
		<string>A 11 Y Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/A 11 Y Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/a11y-light.css</string>
		<key>name</key>
		<string>A 11 Y Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/A 11 Y Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/agate.css</string>
		<key>name</key>
		<string>Agate</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Agate.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/an-old-hope.css</string>
		<key>name</key>
		<string>An Old Hope</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/An Old Hope.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/androidstudio.css</string>
		<key>name</key>
		<string>Androidstudio</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Androidstudio.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/arduino-light.css</string>
		<key>name</key>
		<string>Arduino Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Arduino Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/arta.css</string>
		<key>name</key>
		<string>Arta</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Arta.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/ascetic.css</string>
		<key>name</key>
		<string>Ascetic</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Ascetic.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-cave-dark.css</string>
		<key>name</key>
		<string>Atelier Cave Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Cave Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-cave-light.css</string>
		<key>name</key>
		<string>Atelier Cave Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Cave Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-dune-dark.css</string>
		<key>name</key>
		<string>Atelier Dune Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Dune Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-dune-light.css</string>
		<key>name</key>
		<string>Atelier Dune Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Dune Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-estuary-dark.css</string>
		<key>name</key>
		<string>Atelier Estuary Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Estuary Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-estuary-light.css</string>
		<key>name</key>
		<string>Atelier Estuary Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Estuary Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-forest-dark.css</string>
		<key>name</key>
		<string>Atelier Forest Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Forest Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-forest-light.css</string>
		<key>name</key>
		<string>Atelier Forest Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Forest Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-heath-dark.css</string>
		<key>name</key>
		<string>Atelier Heath Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Heath Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-heath-light.css</string>
		<key>name</key>
		<string>Atelier Heath Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Heath Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-lakeside-dark.css</string>
		<key>name</key>
		<string>Atelier Lakeside Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Lakeside Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-lakeside-light.css</string>
		<key>name</key>
		<string>Atelier Lakeside Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Lakeside Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-plateau-dark.css</string>
		<key>name</key>
		<string>Atelier Plateau Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Plateau Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-plateau-light.css</string>
		<key>name</key>
		<string>Atelier Plateau Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Plateau Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-savanna-dark.css</string>
		<key>name</key>
		<string>Atelier Savanna Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Savanna Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-savanna-light.css</string>
		<key>name</key>
		<string>Atelier Savanna Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Savanna Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-seaside-dark.css</string>
		<key>name</key>
		<string>Atelier Seaside Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Seaside Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-seaside-light.css</string>
		<key>name</key>
		<string>Atelier Seaside Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Seaside Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-sulphurpool-dark.css</string>
		<key>name</key>
		<string>Atelier Sulphurpool Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Sulphurpool Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atelier-sulphurpool-light.css</string>
		<key>name</key>
		<string>Atelier Sulphurpool Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atelier Sulphurpool Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atom-one-dark.css</string>
		<key>name</key>
		<string>Atom One Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atom One Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atom-one-dark-reasonable.css</string>
		<key>name</key>
		<string>Atom One Dark Reasonable</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atom One Dark Reasonable.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/atom-one-light.css</string>
		<key>name</key>
		<string>Atom One Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Atom One Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/codepen-embed.css</string>
		<key>name</key>
		<string>Codepen Embed</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Codepen Embed.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/color-brewer.css</string>
		<key>name</key>
		<string>Color Brewer</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Color Brewer.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/darcula.css</string>
		<key>name</key>
		<string>Darcula</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Darcula.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/dark.css</string>
		<key>name</key>
		<string>Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/default.css</string>
		<key>name</key>
		<string>Default</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Default.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/docco.css</string>
		<key>name</key>
		<string>Docco</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Docco.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/dracula.css</string>
		<key>name</key>
		<string>Dracula</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Dracula.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/far.css</string>
		<key>name</key>
		<string>Far</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Far.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/foundation.css</string>
		<key>name</key>
		<string>Foundation</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Foundation.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/github.css</string>
		<key>name</key>
		<string>Github</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Github.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/github-gist.css</string>
		<key>name</key>
		<string>Github Gist</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Github Gist.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/gml.css</string>
		<key>name</key>
		<string>Gml</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Gml.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/googlecode.css</string>
		<key>name</key>
		<string>Googlecode</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Googlecode.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/grayscale.css</string>
		<key>name</key>
		<string>Grayscale</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Grayscale.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/gruvbox-dark.css</string>
		<key>name</key>
		<string>Gruvbox Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Gruvbox Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/gruvbox-light.css</string>
		<key>name</key>
		<string>Gruvbox Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Gruvbox Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/hopscotch.css</string>
		<key>name</key>
		<string>Hopscotch</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Hopscotch.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/hybrid.css</string>
		<key>name</key>
		<string>Hybrid</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Hybrid.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/idea.css</string>
		<key>name</key>
		<string>Idea</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Idea.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/ir-black.css</string>
		<key>name</key>
		<string>Ir Black</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Ir Black.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/isbl-editor-dark.css</string>
		<key>name</key>
		<string>Isbl Editor Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Isbl Editor Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/isbl-editor-light.css</string>
		<key>name</key>
		<string>Isbl Editor Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Isbl Editor Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/kimbie.dark.css</string>
		<key>name</key>
		<string>Kimbie Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Kimbie Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/kimbie.light.css</string>
		<key>name</key>
		<string>Kimbie Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Kimbie Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/lightfair.css</string>
		<key>name</key>
		<string>Lightfair</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Lightfair.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/magula.css</string>
		<key>name</key>
		<string>Magula</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Magula.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/mono-blue.css</string>
		<key>name</key>
		<string>Mono Blue</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Mono Blue.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/monokai.css</string>
		<key>name</key>
		<string>Monokai</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Monokai.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/monokai-sublime.css</string>
		<key>name</key>
		<string>Monokai Sublime</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Monokai Sublime.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/nord.css</string>
		<key>name</key>
		<string>Nord</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Nord.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/obsidian.css</string>
		<key>name</key>
		<string>Obsidian</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Obsidian.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/ocean.css</string>
		<key>name</key>
		<string>Ocean</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Ocean.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/paraiso-dark.css</string>
		<key>name</key>
		<string>Paraiso Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Paraiso Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/paraiso-light.css</string>
		<key>name</key>
		<string>Paraiso Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Paraiso Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/pojoaque.css</string>
		<key>name</key>
		<string>Pojoaque</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Pojoaque.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/purebasic.css</string>
		<key>name</key>
		<string>Purebasic</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Purebasic.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/qtcreator_dark.css</string>
		<key>name</key>
		<string>Qtcreator Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Qtcreator Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/qtcreator_light.css</string>
		<key>name</key>
		<string>Qtcreator Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Qtcreator Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/railscasts.css</string>
		<key>name</key>
		<string>Railscasts</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Railscasts.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/rainbow.css</string>
		<key>name</key>
		<string>Rainbow</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Rainbow.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/routeros.css</string>
		<key>name</key>
		<string>Routeros</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Routeros.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/school-book.css</string>
		<key>name</key>
		<string>School Book</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/School Book.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/shades-of-purple.css</string>
		<key>name</key>
		<string>Shades Of Purple</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Shades Of Purple.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/solarized-dark.css</string>
		<key>name</key>
		<string>Solarized Dark</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Solarized Dark.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/solarized-light.css</string>
		<key>name</key>
		<string>Solarized Light</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Solarized Light.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/sunburst.css</string>
		<key>name</key>
		<string>Sunburst</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Sunburst.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/tomorrow.css</string>
		<key>name</key>
		<string>Tomorrow</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Tomorrow.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/tomorrow-night.css</string>
		<key>name</key>
		<string>Tomorrow Night</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Tomorrow Night.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/tomorrow-night-blue.css</string>
		<key>name</key>
		<string>Tomorrow Night Blue</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Tomorrow Night Blue.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/tomorrow-night-bright.css</string>
		<key>name</key>
		<string>Tomorrow Night Bright</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Tomorrow Night Bright.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/tomorrow-night-eighties.css</string>
		<key>name</key>
		<string>Tomorrow Night Eighties</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Tomorrow Night Eighties.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/vs.css</string>
		<key>name</key>
		<string>Vs</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Vs.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/vs2015.css</string>
		<key>name</key>
		<string>Vs 2015</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Vs 2015.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/xcode.css</string>
		<key>name</key>
		<string>Xcode</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Xcode.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/xt256.css</string>
		<key>name</key>
		<string>Xt 256</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Xt 256.png</string>
	</dict>
	<dict>
		<key>location</key>
		<string>References.bundle/hljs/styles/zenburn.css</string>
		<key>name</key>
		<string>Zenburn</string>
		<key>preview</key>
		<string>References.bundle/hljs/styles/Zenburn.png</string>
	</dict>
</array>
</plist>
