<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>displayName</key>
		<string>Plain Text (*.txt)</string>
		<key>extensions</key>
		<array>
			<string>txt</string>
		</array>
		<key>hasSymbol</key>
		<true/>
		<key>identifier</key>
		<string>text.plain</string>
		<key>name</key>
		<string>Plain Text</string>
	</dict>
	<dict>
		<key>comments</key>
		<dict>
			<key>TM_COMMENT_START</key>
			<string>--</string>
			<key>TM_COMMENT_START_2</key>
			<string>--[[</string>
			<key>TM_COMMENT_END_2</key>
			<string>]]</string>
		</dict>
		<key>indent</key>
		<dict>
			<key>decreaseIndentPattern</key>
			<string>^\s*((\b(elseif|else|end|until)\b)|(\})|(\)))</string>
			<key>increaseIndentPattern</key>
			<string>^([^-]|-(?!-))*((\b(else|function|then|do|repeat)\b((?!\b(end|until)\b).)*)|(\{\s*))$</string>
		</dict>
		<key>folding</key>
		<dict>
			<key>foldingStartMarker</key>
			<string>\b(function|local\s+function|then|do|repeat)\b|{[ \t]*$|\[\[</string>
			<key>foldingStopMarker</key>
			<string>\bend\b|^\s*}|\]\]</string>
		</dict>
		<key>keymap</key>
		<string>TTTTT()&quot;[]{}&apos;&lt;&gt;\/$´`RRRRR~^|€£-+=%*!?#@&amp;_:;,.</string>
		<key>keymap~ipad</key>
		<string>TTTTT()&quot;[]{}&apos;&lt;&gt;\/$´`~^|€£RRRRR-+=%*!?#@&amp;_:;,.1203467589</string>
		<key>displayName</key>
		<string>Lua (*.lua, *.snippet, *.xui)</string>
		<key>extensions</key>
		<array>
			<string>lua</string>
			<string>snippet</string>
			<string>xui</string>
		</array>
		<key>hasSymbol</key>
		<true/>
		<key>identifier</key>
		<string>source.lua</string>
		<key>name</key>
		<string>Lua</string>
	</dict>
</array>
</plist>