<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XXTExplorer.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>442D168FEFB694221B2AE5104573045049CE86AA</string>
				<key>dateExpires</key>
				<string>28/06/2018</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GXZ23M5TP2.com.darwindev.XXTExplorer</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.darwindev.XXTExplorer</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>GXZ23M5TP2</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.com.darwindev.XXTExplorer</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>GXZ23M5TP2.com.darwindev.XXTExplorer</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>XXTExplorer.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>96b0a69a-2aab-446a-970c-8eef4f7663fc</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.darwindev.XXTExplorer</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GXZ23M5TP2</string>
				<key>name</key>
				<string>Zheng Wu</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
