<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xxte-white-icons</key>
	<array>
		<string>com.apple.FTMInternal</string>
		<string>com.apple.CheckerBoard</string>
		<string>com.apple.susuiservice</string>
		<string>com.apple.AdSheet</string>
		<string>com.apple.AdSheetPhone</string>
		<string>com.apple.AdSheetPad</string>
		<string>com.apple.DataActivation</string>
		<string>com.apple.DemoApp</string>
		<string>com.apple.Diagnostics</string>
		<string>com.apple.fieldtest</string>
		<string>com.apple.iosdiagnostics</string>
		<string>com.apple.iphoneos.iPodOut</string>
		<string>com.apple.TrustMe</string>
		<string>com.apple.WebSheet</string>
		<string>com.apple.springboard</string>
		<string>com.apple.purplebuddy</string>
		<string>com.apple.datadetectors.DDActionsService</string>
		<string>com.apple.FacebookAccountMigrationDialog</string>
		<string>com.apple.iad.iAdOptOut</string>
		<string>com.apple.ios.StoreKitUIService</string>
		<string>com.apple.TextInput.kbd</string>
		<string>com.apple.MailCompositionService</string>
		<string>com.apple.mobilesms.compose</string>
		<string>com.apple.quicklook.quicklookd</string>
		<string>com.apple.ShoeboxUIService</string>
		<string>com.apple.social.remoteui.SocialUIService</string>
		<string>com.apple.WebViewService</string>
		<string>com.apple.gamecenter.GameCenterUIService</string>
		<string>com.apple.appleaccount.AACredentialRecoveryDialog</string>
		<string>com.apple.CompassCalibrationViewService</string>
		<string>com.apple.WebContentFilter.remoteUI.WebContentAnalysisUI</string>
		<string>com.apple.PassbookUIService</string>
		<string>com.apple.uikit.PrintStatus</string>
		<string>com.apple.Copilot</string>
		<string>com.apple.MusicUIService</string>
		<string>com.apple.AccountAuthenticationDialog</string>
		<string>com.apple.MobileReplayer</string>
		<string>com.apple.SiriViewService</string>
		<string>com.apple.TencentWeiboAccountMigrationDialog</string>
		<string>com.apple.AskPermissionUI</string>
		<string>com.apple.CoreAuthUI</string>
		<string>com.apple.family</string>
		<string>com.apple.mobileme.fmip1</string>
		<string>com.apple.GameController</string>
		<string>com.apple.HealthPrivacyService</string>
		<string>com.apple.InCallService</string>
		<string>com.apple.mobilesms.notification</string>
		<string>com.apple.PhotosViewService</string>
		<string>com.apple.PreBoard</string>
		<string>com.apple.PrintKit.Print-Center</string>
		<string>com.apple.share</string>
		<string>com.apple.SharedWebCredentialViewService</string>
		<string>com.apple.webapp</string>
		<string>com.apple.webapp1</string>
		<string>com.apple.DiagnosticsService</string>
		<string>com.apple.GameController2</string>
		<string>com.apple.siri.parsec.HashtagImagesApp</string>
		<string>com.apple.Home.HomeUIService</string>
		<string>com.apple.social.SLGoogleAuth</string>
		<string>com.apple.social.SLYahooAuth</string>
		<string>com.apple.SafariViewService</string>
		<string>com.apple.ScreenSharingViewService</string>
		<string>com.apple.ServerDocuments</string>
		<string>com.apple.SharingViewService</string>
		<string>com.apple.StoreDemoViewService</string>
		<string>com.apple.VSViewService</string>
		<string>com.apple.WatchListViewService</string>
		<string>com.apple.CloudKit.ShareBear</string>
	</array>
</dict>
</plist>
