<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXPLORER_HOME_SERIES</key>
	<array>
		<dict>
			<key>title</key>
			<string>Root Directory</string>
			<key>subtitle</key>
			<string>iOS File System Root Directory</string>
			<key>icon</key>
			<string>XXTExplorerViewSectionHomeSeriesRootIcon</string>
			<key>path</key>
			<string>/</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Home Directory</string>
			<key>subtitle</key>
			<string>XXTouch Runtime Home Directory</string>
			<key>icon</key>
			<string>XXTExplorerViewSectionHomeSeriesHomeIcon</string>
			<key>path</key>
			<string></string>
		</dict>
	</array>
	<key>SECTION_META</key>
	<array>
		<dict>
			<key>key</key>
			<string>GLOBAL_DEFAULTS</string>
			<key>title</key>
			<string>Global Config</string>
		</dict>
		<dict>
			<key>key</key>
			<string>EXPLORER_USER_DEFAULTS</string>
			<key>title</key>
			<string>Explorer Config</string>
		</dict>
		<dict>
			<key>key</key>
			<string>REMOTE_USER_DEFAULTS</string>
			<key>title</key>
			<string>Daemon Config</string>
		</dict>
		<dict>
			<key>key</key>
			<string>VIEWER_USER_DEFAULTS</string>
			<key>title</key>
			<string>Viewer Config</string>
		</dict>
		<dict>
			<key>key</key>
			<string>VIEWER_TERMINAL_USER_DEFAULTS</string>
			<key>title</key>
			<string>Viewer Config: Terminal</string>
		</dict>
	</array>
	<key>GLOBAL_DEFAULTS</key>
	<array>
		<dict>
			<key>enabled</key>
			<string>YES</string>
			<key>key</key>
			<string>XXTExplorerPasteboardDetectOnActiveKey</string>
			<key>default</key>
			<integer>0</integer>
			<key>title</key>
			<string>Detect Available Content in Pasteboard on Active</string>
			<key>description</key>
			<string>Detect license string or downloadable url in general pasteboard when application becomes active.</string>
			<key>options</key>
			<array>
				<string>Detect None</string>
				<string>Detect Downloadable URL</string>
				<string>Detect License String</string>
				<string>Detect All</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<string>YES</string>
			<key>key</key>
			<string>XXTExplorerFixFileOwnerAutomaticallyKey</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>Fix File Owner Automatically</string>
			<key>description</key>
			<string>Fix the owner of file with the command &quot;chown&quot; if possible.</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
	</array>
	<key>EXPLORER_USER_DEFAULTS</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryListSortFieldKey</string>
			<key>default</key>
			<real>0</real>
			<key>title</key>
			<string>Explorer Sort Field</string>
			<key>description</key>
			<string>The sort field and order determine the order of items in the explorer.</string>
			<key>options</key>
			<array>
				<string>Creation Date</string>
				<string>Modification Date</string>
				<string>Display Name</string>
				<string>Item Type</string>
				<string>Item Size</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryListSortOrderKey</string>
			<key>default</key>
			<integer>1</integer>
			<key>title</key>
			<string>Explorer Sort Order</string>
			<key>description</key>
			<string>The sort field and order determine the order of items in the explorer.</string>
			<key>options</key>
			<array>
				<string>Ascend</string>
				<string>Descend</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryHomeEnabledKey</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>Show &quot;Home&quot; Entry</string>
			<key>description</key>
			<string>Show &quot;Home&quot; entry at the top of file explorer.</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<string>YES</string>
			<key>key</key>
			<string>XXTExplorerAllowsImportFromAlbum</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>Allows Import from Album</string>
			<key>description</key>
			<string>Disable this feature to avoid calling helper application.</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryListHideDotItemKey</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>Hide Dot Files</string>
			<key>description</key>
			<string>Hide files whose name prefixed with a dot (&quot;.&quot;).</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryHideCommonFileExtensionsEnabledKey</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>Hide Common File Extensions</string>
			<key>description</key>
			<string>Hide common file extensions like &quot;.txt&quot;, &quot;.lua&quot;, etc.</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerViewEntryHideOperationLabelKey</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>Hide Operation Label</string>
			<key>description</key>
			<string>Hide swipe operation label like &quot;Launch&quot;, &quot;Edit&quot;, etc.</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerAllowOpenMethodKey</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>Allow Open Method</string>
			<key>description</key>
			<string>Allow changing open method in &quot;Item Property&quot;.</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerAllowEditingFileOwnerKey</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>Allow Editing File Owner</string>
			<key>description</key>
			<string>Allow changing file owner/group/permission in &quot;Item Property&quot;.</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<string>YES</string>
			<key>key</key>
			<string>XXTExplorerViewEntrySelectLaunchedScriptKey</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>Select Launched Script</string>
			<key>description</key>
			<string>Select the script after being launched once in XXTouch.</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerHistoryStoreLimit</string>
			<key>default</key>
			<integer>3</integer>
			<key>title</key>
			<string>History Store Limit</string>
			<key>description</key>
			<string>Maximum history items age. If exceeded, earlier items will be cleared.</string>
			<key>options</key>
			<array>
				<string>1 Week</string>
				<string>1 Month</string>
				<string>3 Months</string>
				<string>6 Months</string>
				<string>1 Year</string>
				<string>Forever</string>
			</array>
		</dict>
	</array>
	<key>VIEWER_USER_DEFAULTS</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerDefaultEncodingKey</string>
			<key>default</key>
			<integer>0</integer>
			<key>title</key>
			<string>Default Encoding</string>
			<key>description</key>
			<string>Encoding used in text related viewers by default.</string>
			<key>options</key>
			<array>
				<string>Unicode (UTF-8)</string>
				<string>Western (ASCII)</string>
				<string>Western (ISO Latin 1)</string>
				<string>Western (Mac OS Roman)</string>
				<string>Western (Windows Latin 1, CP 1252)</string>
				<string>Western (DOS Latin 1, CP 850)</string>
				<string>Western (ISO Latin 3)</string>
				<string>Western (ISO Latin 9)</string>
				<string>Latin-US (DOS, CP 437)</string>
				<string>Baltic (ISO Latin 7)</string>
				<string>Baltic (Windows)</string>
				<string>Baltic (DOS)</string>
				<string>Central European (ISO Latin 2)</string>
				<string>Central European (ISO Latin 4)</string>
				<string>Central European (Mac OS)</string>
				<string>Central European (Windows Latin 2)</string>
				<string>Central European (DOS Latin 2, CP 852)</string>
				<string>Cyrillic (KOI8-R)</string>
				<string>Cyrillic (ISO 8859-5)</string>
				<string>Cyrillic (Mac OS)</string>
				<string>Cyrillic (Windows, CP 1251)</string>
				<string>Cyrillic (DOS)</string>
				<string>Greek (ISO 8859-7)</string>
				<string>Greek (Mac OS)</string>
				<string>Greek (Windows, CP 1253)</string>
				<string>Greek (DOS)</string>
				<string>Greek (DOS Greek 1)</string>
				<string>Greek (DOS Greek 2)</string>
				<string>Nordic (ISO Latin 6)</string>
				<string>Nordic (DOS)</string>
				<string>Celtic (ISO Latin 8)</string>
				<string>Celtic (Mac OS)</string>
				<string>Romanian (ISO Latin 10)</string>
				<string>Romanian (Mac OS)</string>
				<string>Turkish (ISO Latin 5)</string>
				<string>Turkish (Mac OS)</string>
				<string>Turkish (Windows Latin 5)</string>
				<string>Turkish (DOS)</string>
				<string>Japanese (Shift JIS)</string>
				<string>Japanese (ISO 2022-JP)</string>
				<string>Japanese (ISO 2022-JP-1)</string>
				<string>Japanese (ISO 2022-JP-2)</string>
				<string>Japanese (ISO 2022-JP-3)</string>
				<string>Japanese (EUC)</string>
				<string>Japanese (Mac OS)</string>
				<string>Japanese (Windows, DOS)</string>
				<string>Chinese (GB 18030)</string>
				<string>Chinese (ISO 2022-CN)</string>
				<string>Chinese (ISO 2022-CN-EXT)</string>
				<string>Simplified Chinese (GB 2312)</string>
				<string>Simplified Chinese (Mac OS)</string>
				<string>Simplified Chinese (Windows, DOS)</string>
				<string>Traditional Chinese (Big 5)</string>
				<string>Traditional Chinese (Big 5 HKSCS)</string>
				<string>Traditional Chinese (EUC)</string>
				<string>Traditional Chinese (Mac OS)</string>
				<string>Traditional Chinese (Windows, DOS)</string>
				<string>Korean (EUC)</string>
				<string>Korean (Mac OS)</string>
				<string>Korean (Windows Johab)</string>
				<string>Korean (Windows, DOS)</string>
				<string>Vietnamese (Mac OS)</string>
				<string>Vietnamese (Windows)</string>
				<string>Thai (ISO 8859-11)</string>
				<string>Thai (Mac OS)</string>
				<string>Thai (Windows, DOS)</string>
				<string>Hebrew (ISO 8859-8)</string>
				<string>Hebrew (Mac OS)</string>
				<string>Hebrew (Windows)</string>
				<string>Hebrew (DOS)</string>
				<string>Arabic (ISO 8859-6)</string>
				<string>Arabic (Mac OS)</string>
				<string>Arabic (Windows)</string>
				<string>Arabic (DOS)</string>
				<string>Unicode (UTF-16)</string>
				<string>Unicode (UTF-16BE)</string>
				<string>Unicode (UTF-16LE)</string>
				<string>Unicode (UTF-32)</string>
				<string>Unicode (UTF-32BE)</string>
				<string>Unicode (UTF-32LE)</string>
				<string>Western (EBCDIC US)</string>
				<string>Western (EBCDIC Latin 1)</string>
				<string>Non-lossy ASCII</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<string>XXTExplorerViewerRegexSearch</string>
			<key>default</key>
			<integer>0</integer>
			<key>title</key>
			<string>Regular Expression Search</string>
			<key>description</key>
			<string>Use regular expression search in text/code viewer.
This option will not be applied to code editor.</string>
			<key>options</key>
			<array>
				<string>Disabled</string>
				<string>Enabled</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<string>XXTExplorerViewerCaseSensitiveSearch</string>
			<key>default</key>
			<integer>0</integer>
			<key>title</key>
			<string>Case Sensitive Search</string>
			<key>description</key>
			<string>Use case sensitive search in text/code viewer.
This option will not be applied to code editor.</string>
			<key>options</key>
			<array>
				<string>Disabled</string>
				<string>Enabled</string>
			</array>
		</dict>
	</array>
	<key>VIEWER_TERMINAL_USER_DEFAULTS</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerTerminalShowPrompt</string>
			<key>default</key>
			<integer>1</integer>
			<key>title</key>
			<string>Terminal Show Prompt</string>
			<key>description</key>
			<string>Show external prompt messages in terminal.</string>
			<key>options</key>
			<array>
				<string>Disabled</string>
				<string>Enabled</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerTerminalSaveLogs</string>
			<key>default</key>
			<integer>1</integer>
			<key>title</key>
			<string>Terminal Save Logs</string>
			<key>description</key>
			<string>Write terminal content to &apos;~/log/&apos;.</string>
			<key>options</key>
			<array>
				<string>Disabled</string>
				<string>Enabled</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>XXTExplorerTerminalLogStoreLimit</string>
			<key>default</key>
			<integer>3</integer>
			<key>title</key>
			<string>Terminal Log Store Limit</string>
			<key>description</key>
			<string>Maximum log items age. If exceeded, earlier items will be cleared.</string>
			<key>options</key>
			<array>
				<string>1 Week</string>
				<string>1 Month</string>
				<string>3 Months</string>
				<string>6 Months</string>
				<string>1 Year</string>
				<string>Forever</string>
			</array>
		</dict>
	</array>
	<key>REMOTE_USER_DEFAULTS</key>
	<array>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<string>device_control_toggle</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>Enable Shortcut</string>
			<key>description</key>
			<string>Allows device control shortcut events to launch or stop selected script.</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>no_nosim_alert</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>Hide &quot;No SIM&quot; Alert</string>
			<key>description</key>
			<string>Prevent &quot;No SIM&quot; alert from showing.</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>no_low_power_alert</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>Hide &quot;Low Power&quot; Alert</string>
			<key>description</key>
			<string>Prevent &quot;Low Power&quot; alert from showing.</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>no_idle</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>Insomnia Mode</string>
			<key>description</key>
			<string>Prevent device from real sleep (offline).</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>script_on_daemon</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>Daemon Mode</string>
			<key>description</key>
			<string>Launch the last executed script again if the daemon quitted unexpectedly.</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>script_end_hint</string>
			<key>default</key>
			<true/>
			<key>title</key>
			<string>Script Stopped Toast</string>
			<key>description</key>
			<string>Show &quot;Script Stopped&quot; hint toast.</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>no_need_pushid_alert</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>Hide &quot;Connect to iTunes...&quot; Alert</string>
			<key>description</key>
			<string>Prevent &quot;Connect to iTunes to Use Push Notifications&quot; alert from showing</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>no_nosim_statusbar</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>Hide &quot;No SIM&quot; on Status Bar</string>
			<key>description</key>
			<string>Prevent &quot;No SIM&quot; text on status bar from displaying.</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>use_classic_control_alert</string>
			<key>default</key>
			<false/>
			<key>title</key>
			<string>Use Classical Alert View</string>
			<key>description</key>
			<string>Use classical UIAlertController instead of animated SIAlertView.</string>
			<key>options</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<string>record_volume</string>
			<key>default</key>
			<integer>0</integer>
			<key>title</key>
			<string>Record Volume Keys</string>
			<key>description</key>
			<string>In record mode, volume button hardware operations can be ignored or recorded.</string>
			<key>options</key>
			<array>
				<string>None</string>
				<string>Record Volume +</string>
				<string>Record Volume -</string>
				<string>Record Both Volume +/-</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
